<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Homepage</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static "site/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static "site/css/shop-homepage.css" %}" rel="stylesheet">

</head>

<body>
  {{ request.session.regError }}
  hsdskjhdfkshdkh
  {{sessionvar}}
  {{sessionvar.message}}
  {{sessionvar.movies}}
  {{ sessionvar.movies.title }}

  <ul> 
    {% for i in sessionvar.movies %} 
        <li>{{  i.title }}</li> 
    {% endfor %} 
  </ul> 
</body>

</html>